@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fafafa;
}

body, button, input{
    font-family: 'Poppins', sans-serif;
}

/*NAVIGATION BAR - HEADER*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: .5rem 3rem;
    background-color: #fafafa;
    font-size: 1rem;
    font-weight: 600;
    top: 0;
    z-index: 99;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 4rem;
}
.navbar .logo{
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar .logo img{
    width: 3rem;
    height: 3rem;
}
.navbar .logo p{
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    color: #8cafad;
}
.navbar .logo strong{    
    color: #0a2438;
}
.navbar ul{
    display: flex;
    align-items: center;
}  
.navbar ul li{
    margin: 0 1.5rem;
    list-style: none;
    position: relative;
}   
.navbar ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600px;
    color: #0a2438;
}
.navbar ul li a:hover{
    color: #8cafad;
}

/*LANDING PAGE*/
.landing{
    background: url("images/bg.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 100% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}
.landing h4{
    font-size: 3rem;
    color: #8cafad;
    margin-bottom: -1.5rem;
}
.landing h2{
    font-size: 4rem;
    color: #fafafa;
    margin-bottom: -1.5rem;
}
.landing h3{
    font-size: 2rem;
    color: #fafafa;
    margin-bottom: 1.5rem;
}
.landing p{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fafafa;
    margin-bottom: 2rem;
}
.landing .shopNow{
    color: #fafafa;
    background-color: #0a2438;
    padding: .8rem 1.3rem;
    text-decoration: none;
    border-radius: .2rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid #8cafad;
    cursor: pointer;
}
.landing .shopNow:hover{
    color: #0a2438;
    background-color: #fafafa;
    border-bottom: 2px solid #0a2438;
    transition: ease-in-out .3s;
}

/* MODEL GALLERY*/
.gallery{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #8cafad;
    margin: 3rem 0;
    padding: 3rem 0;
}   
.gallery .galleryContainer{
    width: 15rem;
    padding: 1rem 0 .5rem;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    background-color: #fafafa;
}
.gallery .galleryContainer:hover{
    background-color: #eeeeee;
    transition: ease-in-out .1s;
}
.gallery .galleryContainer img{
    width: 12rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}
.gallery .galleryContainer h2{
    font-size: 1.2rem;
    color: #0a2438;
}
.gallery .popup-image{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
}
.gallery .popup-image .close{
    color: #fafafa;
    float: right;
    padding: 2rem 10rem;
    cursor: pointer;
}
.gallery .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    object-fit: cover;
}

/* SHOP */
.shop h1{
    color: #0a2438;
    text-align: center;
    font-size: 2rem;
}
.shop .item-gallery{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0 2rem;
    border-radius: .5rem;
}
.shop .item-gallery .itemContainer{
    width: 15rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}
.shop .item-gallery .itemContainer:hover{
    background-color: #eeeeee;
    transition: ease-in-out .1s;
}
.shop .item-gallery .itemContainer .itemHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.shop .item-gallery .itemContainer p{
    font-size: 1rem;
    font-weight: 600;
    background-color: #8cafad;
    padding: .2rem .5rem;
    border-radius: 1rem;
    color: #fafafa;
}
.shop .item-gallery .itemContainer i{
    color: #8cafad;
}
.shop .item-gallery .itemContainer img{
    width: 7rem;
    border-radius: .5rem;
}
.shop .item-gallery .itemContainer h2{
    font-size: 1rem;
    color: #0a2438;
}

/*SERVICES OFFERED*/ 
.service{
    background-image: url("images/bg2.jpeg");
    background-size: cover;
    background-position: 70% 75%;
    margin: 3rem 0;
    padding: 2rem 4rem;
}
.service .service-content h4{
    color: #fafafa;
    font-size: 2rem;
}
.service .service-content h2{
    color: #fafafa;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}
.service .explore{
    color: #fafafa;
    background-color: #0a2438;
    padding: .8rem 1.3rem;
    text-decoration: none;
    border-radius: .2rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid #8cafad;
    cursor: pointer;
}
.service .explore:hover{
    color: #0a2438;
    background-color: #fafafa;
    border-bottom: 2px solid #0a2438;
    transition: ease-in-out .3s;
}

/* ABOUT */
.about{
    background-color: #8cafad;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.about .aboutUs{
    color: #fafafa;
    text-align: justify;
}
.about .aboutUs h1{
    font-size: 3rem;
}
.about .aboutUs span{
    font-weight: 600;
    font-size: 1.3rem;
    color: #0a2438;
}
.about img{
    width: 50%;
}

/* CONTACT */
.contact{
    padding: 3rem;
}
.contact .contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.contact .contactForm h1{
    font-size: 2.5rem;
    color: #0a2438;
}
.contact .contactForm .userInput{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contact .contactForm .userInput input{
    border: 1px solid rgba(128, 128, 128, .5);
    padding: .8rem 1rem;
    border-radius: .3rem;
    font-size: 1rem;
}
.contact .contactForm .send{
    background-color: #0a2438;
    color: #fafafa;
    padding: .8rem 1rem;
    margin: 1rem 0;
    width: 50%;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/*FOOTER AND NEWSLETTER*/
.footer{
    display: flex;
    flex-direction: column;
    background-color: #8cafad;
    padding: 1rem 4rem;
    color: #fafafa;
}
.footer-details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-details .header{
    font-size: 1.5rem;
}
.footer-details .header span{
    font-weight: 600;
}
.footer-details .header p{
    font-size: .9rem;
    margin: .3rem 0;
}
.footer-details .header .icon i{
    font-size: 1.3rem;
    margin: .5rem .8rem 0 0;
}
.footer .vline{
    border-bottom: 2px solid #fafafa;
    width: 100%;
    margin: .6rem auto 0;
}
.footer .copyright{
    font-size: .9rem;
    text-align: center;
    margin-top: .6rem;
}


/* MEDIA QUERIES */
/* LAPTOP */
@media (max-width: 1024px){
    /* LANDING PAGE */
    .landing{
        background-position: 10% 10%;
    }
    .landing h4{
        font-size: 2.5rem;
    }
    .landing h2{
        font-size: 3.5rem;
    }
    .landing h3{
        font-size: 2rem;
    }
    .landing p{
        font-size: 1rem;
    }
    .landing .shopNow{
        padding: .6rem 1rem;
    }

    /* GALLERY */
    .gallery{
        gap: .5rem;
    }
    .gallery .galleryContainer{
        width: 12rem;
    }
    .gallery .galleryContainer img{
        width: 9rem;
    }
    .gallery .galleryContainer h2{
        font-size: 1rem;
    }
    .gallery .popup-image .close{
        padding: 2rem;
    }

    /* SHOP */
    .shop .item-gallery .itemContainer{
        width: 13rem;
    }

    /* SERVICES OFFERED */
    .service .service-content h4{
        font-size: 1.5rem;
    }
    .service .service-content h2{
        font-size: 2rem;
    }
    .service .explore{
        padding: .6rem 1rem;
    }

    /* CONTACT */
    .contact .contactForm .userInput{
        width: 60%;
    }
    .contact .contactForm .send{
        width: 60%;
    }
    
    /* FOOTER */
    .footer{
        padding: 1rem 2rem;
    }
    .footer-details .header{
        font-size: 1.3rem;
    }
    .footer-details .header p{
        font-size: .7rem;
    }
    .footer-details .header .icon i{
        font-size: 1rem;
    }
    .footer .copyright{
        font-size: .7rem;
    }
}

/* TABLET PORTRAIT */
@media (max-width: 768px){
    .navbar .logo{
        justify-content: center;
    }
    .navbar ul{
        display: none;
    }

    /* LANDING PAGE */
    .landing{
        background-position: 30% 10%;
    }
    .landing h4{
        font-size: 2rem;
    }
    .landing h2{
        font-size: 3rem;
    }
    .landing h3{
        font-size: 1.5rem;
    }
    .landing p{
        font-size: 1rem;
    }
    .landing .shopNow{
        padding: .6rem 1rem;
    }

    /* GALLERY */
    .gallery{
        grid-template-columns: repeat(2, auto);
        gap: .5rem;
    }
    .gallery .galleryContainer{
        width: 13rem;
    }
    .gallery .galleryContainer img{
        width: 10rem;
    }
    .gallery .galleryContainer h2{
        font-size: 1rem;
    }
    .gallery .popup-image .close{
        padding: 2rem;
    }

    /* SHOP */
    .shop .item-gallery{
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .shop .item-gallery .itemContainer{
        width: 13rem;
    }

    /* SERVICES OFFERED */
    .service .service-content h4{
        font-size: 1.2rem;
    }
    .service .service-content h2{
        font-size: 1.5rem;
    }
    .service .explore{
        padding: .5rem .8rem;
    }
    
    /* ABOUT US */
    .about img{
        display: none;
    }
    .about .aboutUs h1{
        font-size: 2rem;
    }
    .about .aboutUs p{
        font-size: .9rem;
    }
    .about .aboutUs span{
        font-size: 1rem;
    }

    /* CONTACT */
    .contact{
        padding: 3rem 1rem;
    }
    .contact .contactForm h1{
        font-size: 2rem;
    }
    .contact .contactForm .userInput{
        width: 70%;
    }
    .contact .contactForm .userInput label{
        font-size: .8rem;
    }
    .contact .contactForm .userInput input{
        font-size: .8rem;
    }
    .contact .contactForm .send{
        width: 70%;
        font-size: .8rem;
    }
    
    /* FOOTER */
    .footer{
        padding: 1rem 2rem;
    }
    .footer-details .header{
        font-size: 1rem;
    }
    .footer-details .header p{
        font-size: .5rem;
    }
    .footer-details .header .icon i{
        font-size: 1rem;
    }
    .footer .copyright{
        font-size: .5rem;
    }
}

/* MOBILE PHONE */
@media (max-width: 480px){
    .landing{
        background-position: 40% 10%;
    }
    .landing h4{
        font-size: 2rem;
    }
    .landing h2{
        font-size: 2.5rem;
        margin-bottom: -1rem;
    }
    .landing h3{
        font-size: 1.5rem;
    }
    .landing p{
        font-size: .7rem;
    }
    .landing .shopNow{
        padding: .5rem .8rem;
    }

    /* GALLERY */
    .gallery{
        grid-template-columns: repeat(2, auto);
        gap: .5rem;
    }
    .gallery .galleryContainer{
        width: 11rem;
    }
    .gallery .galleryContainer img{
        width: 8rem;
    }
    .gallery .galleryContainer h2{
        font-size: 1rem;
    }
    .gallery .popup-image .close{
        padding: 2rem;
    }
    .gallery .popup-image img{
        width: 300px;
    }

    /* SHOP */
    .shop h1{
        font-size: 1.5rem;
    }
    .shop .item-gallery{
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .shop .item-gallery .itemContainer{
        width: 11rem;
    }

    /* SERVICES OFFERED */
    .service .service-content h4{
        font-size: 1.2rem;
    }
    .service .service-content h2{
        font-size: 1.5rem;
    }
    .service .explore{
        padding: .3rem .6rem;
    }
    
    /* FOOTER */
    .footer{
        padding: 1rem 2rem;
    }
    .footer-details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer-details .header{
        font-size: 1.3rem;
    }
    .footer-details .header p{
        font-size: .8rem;
    }
    .footer-details .header .icon i{
        font-size: 1.3rem;
    }
    .footer .copyright{
        font-size: .8rem;
    }
}